<div class="main-container">
<mat-card>
    <div class="task-header" style="display: flex;justify-content: space-between; background-color: #3f51b5af;padding: 10px;border-radius: 5px;color:white">
        <div class="form-group">
            <h1 style="margin-top:10px">Total task <span>(0)</span></h1>
        </div>
        <div class="createTaskB">
            <button routerLink='/create-task' mat-raised-button  style="width: 200px;height: 50px;font-size: 22px;background-color: #300ec7f8;color: white;margin-right: 10px;"> <mat-icon id="createTaskIcon" 
                style="font-size: 40px;margin-right: 25px;margin-bottom: 15px;">east</mat-icon>
                 Create Task</button>
        </div>
    </div>
    <div class="row">
        
    </div>
</mat-card>
</div>
