<h1 class="text-success" style="background-color:rgb(201, 201, 247);padding: 10px;">All Countries</h1>
<mat-card style="margin-top: -15px;;background-color: rgba(221, 221, 243, 0.959);">

    <!-- create form -->
    <div class="row newCountryForm" class="newCountryForm" *ngIf='isCreateFormVisible'>
        <div class="col-lg-12">
            <form [formGroup]='newForm' (ngSubmit)='onSaveClick()'>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="form-group mb-2">
                            <input style="background-color:rgba(235, 235, 252, 0.959); ;" type="text" placeholder="Country Name" name="countryName" formControlName='countryName' class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button type="submit" mat-stroked-button style="width: 100px;margin-left: 20px;" class="bg-success text-white">Save</button>
                    </div>

                </div>
                
            </form>
        </div>
    </div>

    <!-- update form -->
    <div class="row editCountryForm" class="editCountryForm" *ngIf='isUpdateFormVisible'>
        <div class="col-lg-12">
            <form #updateForm='ngForm' (ngSubmit)='updateFormSubmitted(updateForm)'>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="form-group mb-2">
                            <input style="background-color:rgba(235, 235, 252, 0.959); ;" type="text" placeholder="Country Name" name="countryName" 
                         [(ngModel)]='currentCountry.countryName'  class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button mat-stroked-button style="width: 100px;margin-left: 20px;" class="bg-success text-white">Update</button>
                    </div>

                </div>
                
            </form>
        </div>
    </div>
  


    <table class="table table-hover">
        <thead>
            <tr style="background-color: rgba(206, 206, 245, 0.959);">
                <th>Country ID</th>
                <th>Country Name</th>
                    <th>
                    <button matTooltip="Edit" mat-icon-button style="background-color: #4876f3;width: 100px;border-radius: 5px;height: 35px;margin-top: 2px;" (click)='countryFormShow()'> <mat-icon style="position: relative;top: -5px;">add</mat-icon> </button>&nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let country of countries;let i=index' style="color: black;">
                <td>{{i+1}}</td>
                <td>{{country.countryName}}</td>
                <td>
                    <button matTooltip="Edit" (click)='getCountry(country.id)' mat-icon-button style="background-color: #a3b8f1;width: 40px;border-radius: 5px;height: 35px;margin-top: 2px;"> <mat-icon style="margin-bottom: 7px;">edit_note</mat-icon> </button>&nbsp;
                    <span (click)='deleteCurrentCountry(country.id)'>
                    <button matTooltip="Delete"  mat-icon-button  style="background-color: rgb(243, 113, 185);width: 40px;border-radius: 5px;height: 35px;margin-top: 2px;"> <mat-icon style="margin-bottom: 7px;background-color: rgb(241, 163, 206);color: white;">backspace</mat-icon> </button>
                    </span>
                    
                </td> 
            </tr>
        </tbody>
    </table>

    <form novalidate='novalidate' [formGroup]='newForm'>
        <div class="modal fade" role='dialog' id='newCountryModal'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <div class="modal-title">New Country :</div>
                        <button type="button" class="close" data-dismiss="='modal"><span>&times;</span></button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group-row">
                            <label for="txtNewCountryName" class="col-sm-4 col-form-label">Country Name *</label>
                            <div class="col-sm-8">
                                <input type="text" id="txtNewCountryName" class="form-control" placeholder="Country Name"
                                name="countryName" formControlName='countryName' maxlength="30" #defaultTextBox_New>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</mat-card>